<ion-view view-title="photo">
  <ion-content>
     <div class="row row-wrap">
       <div class="col col-25" ng-repeat="img in imgList track by $index">
         <img ng-src="{{img.url}}" width="100%" ng-click="showImg($index)" height="67">
       </div>
     </div>

    <button class="button button-stable" ng-click="delImg()">删除图片</button>
    <button class="button button-stable" ng-click="addImg()">增加图片</button>
  </ion-content>
</ion-view>
<script id="image-modal.html" type="text/ng-template">
  <div class="modal">
    <hms-photo-view img-list="imgList" slide-index="index" img-url="url" close-modal="closeModal()"></hms-photo-view>
  </div>
</script>
