<ion-view view-title="插件">
  <ion-content>
    <ion-list>
      <ion-item class="item item-input item-icon-right" href="#/tab/lov">
        <div class="input-label" >Lov插件</div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-input item-icon-right" href="#/tab/sign">
        <div class="input-label" >sign插件</div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-input item-icon-right" href="#/tab/photoView">
        <div class="input-label" >photoView插件</div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item item-input item-icon-right" href="#/defer">
        <div class="input-label" >angular $q服务</div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
