<div class="hms-sign">
    <div class="hms-sign-cav">
        <canvas class="hms-sign-cav-bg"></canvas>
    </div>
    <div  class="hms-sign-btn">
        <div class="col">
            <button class="button button-block button-small button-positive" ng-click="save()">保存</button>
        </div>
        <div class="col">
            <button class="button button-block button-small button-positive" ng-click="redo()">撤销</button>
        </div>
        <div class="col">
            <button class="button button-block button-small button-positive" ng-click="redraw()">重画</button>
        </div>
    </div>
</div>
