
.hms-sign-cav {
  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  //z-index: 1100;
  //position: absolute;
  //top: 0;
  //height: 100%;
  //width: 100%;
  //.hms-sign-cav {
  //  canvas {
  //    //position: absolute;
  //  }
  //}
  //.hms-sign-btn {
  //  //position: fixed;
  //  //flex-direction: row;
  //  //justify-content:flex-end;
  //  //.col {
  //  //  flex-direction: column;
  //  //  justify-content: center;
  //  //  width: 33.33%;
  //  //}
  //  .col{
  //    display: inline-block;
  //    width: 33%;
  //    text-align: center;
  //  }
  //}
}
